{
  "extends": [
    "plugin:react/recommended",
    "airbnb"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "ignorePatterns": ["vite.config.js"],
  "rules": {
    "react/prop-types": 0,
    "no-promise-executor-return": "off",
    "no-param-reassign": 0,
    "no-bitwise": 0
  }
}
